@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  body {
    @apply font-sans antialiased text-gray-800;
  }

  h1, h2, h3, h4, h5, h6 {
    @apply font-serif;
  }
}

::-webkit-scrollbar {
  width: 10px;
}

::-webkit-scrollbar-track {
  @apply bg-gray-100 rounded-full;
}

::-webkit-scrollbar-thumb {
  @apply bg-pink-300 rounded-full;
}

button:focus-visible {
  @apply outline-none ring-2 ring-pink-400 ring-offset-2 rounded-full;
}